:root {
    font-size: 17px;
    --max-width: 1100px;
    --border-radius: 12px;
    --font: "Pretendard", "sans-serif";
    --font-body: "Pretendard", "sans-serif";
    --font-display: "GmarketSans", "sans-serif";

    --foreground: #606060;
    --background: #fff;

    --ax_supernova_red: #d05559;
    --ax_space_blue: #3d5588;
    --ax_deep_black: #27282c;
    --ax_desert_yellow: #cc994c;
    --ax_leaf_green: #69896d;
    --ax_sandy_brown: #e0d0a6;
    --ax_skyblue: #6fcfeb;
    --red: #f00;
    --green: #0f0;
    --blue: #00f;
    --black: #000;
    --white: #fff;

    --txt-body: #606060;
    --txt-display: #000;
    --txt-link-hover: #0167e3;
    --border-color: rgba(0, 0, 0, 0.08);


    --transition: 0.1s ease-in-out;
    --transition-slow: 0.3s ease-in-out;
}

@media (max-width: 480px) {
    :root {
        font-size: 18px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--black);
    background: var(--background);
    overflow-x: hidden;
    font-family: var(--font);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}


@keyframes SpinnerRotate {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.page-container {
    min-height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
    color: #ccc;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
    margin-top: -30px;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
